/* src/DevProfile.css */

.container {
    width: 100%;
    max-width: 1200px; /* Adjust maximum width as needed */
    margin: 0 auto;
    padding: 0 20px; /* Add padding to the container */
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minimum and maximum width for each column */
    gap: 20px; /* Gap between items */
    justify-items: center; /* Center items horizontally */
}

.video-grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.video-grid-item iframe {
    width: 100%;
}

/* Social links */
.developer-info {
    margin-bottom: 20px; /* Add space between developer info and video grid */
}

.social-links {
    display: flex;
    justify-content: center; /* Center social links horizontally */
    gap: 20px; /* Add space between social icons */
}

.social-links a {
    color: #FFFF; /* Set color for social icons */
    font-size: 24px; /* Adjust size of social icons */
}
/* src/DevProfile.css */

.git-profile-container {
    display: flex;

    justify-content: center; /* Center items horizontally */
}

.git-profile-container img {
    width: 100%; /* Ensure images take full width of their container */
}

