.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.video-item {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.video-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px); /* Adjusted height to accommodate the paragraph element */
}

.video-item p {
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjusting to 2 columns on smaller screens */
    }

    .video-item {
        height: auto; /* Removing fixed height to adapt to content */
    }
}
